<template name="beerButton">
  <button class="nina" data-text="Find A Watering Hole!">
    <span>F</span>
    <span>i</span>
    <span>n</span>
    <span>d</span>
    <span></span>
    <span>A</span>
    <span></span>
    <span>W</span>
    <span>a</span>
    <span>t</span>
    <span>e</span>
    <span>r</span>
    <span>i</span>
    <span>n</span>
    <span>g</span>
    <span></span>
    <span>H</span>
    <span>o</span>
    <span>l</span>
    <span>e</span>
    <span></span>
    <span>!</span>
    
    </button>
  <p>Find the best beer near you by hitting this button. CHEERS!</p>
</template>

